@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    /* font-family:Arial,san sarif; */
    box-sizing:border-box;
    font-size:14px;
    background-color: #EDEDF0;
    font-family: "Poppins", sans-serif;
}
.header
{
    width:100%;
    position:sticky;
    background-color:#fff;
    padding:10px 0px;
    top:0;
}
.box-img{
    height: 50px;
}
ul{
    display:flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
}
li {      
    border:1px solid #ddd;
    padding:10px;
    border-radius:10px;
    margin: 10px;
}
a{
    text-decoration: none; 
    color:#000;
    cursor: pointer;
}
.main-wrapeer
{
    margin:40px auto;
    padding:34px;
    width:500px;
    border:1px solid #ddd;
    border-radius:10px;    
    height:250px;
    position: relative;
    background-color:#407bff;
    cursor: pointer;
}
.span-color{
    color:#fff;
}
.txt{
    text-transform: capitalize;
}
.wrapper-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -36px;
    background: #fff;
    right: 37px;
    border: 2px solid #407bff;
}
.wrapper-btn{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    border:none;
    font-size: 14px;
    font-weight: 500;
}
.card{
    width:300px;
    padding:36px;
    border:1px solid #ddd;
    text-align:center;
    border-radius:10px;
    height:auto;   
    background-color: #fff;
    margin:30px auto;
}
.card-img{
    height:200px;
}
.login{
    width:400px;
    margin:170px auto;
    border:1px solid #ddd;
}
h1{
    margin-bottom:10px;
}
.text-color{
    color: #626b74;
    margin: 10px 0 10px 0;
}
.input{
    padding:12px;
    margin:0px 0px 15px;  
    width:100%;
    box-sizing:border-box;
    border-radius: 7px;
    border: 1px solid #c3bdbd;
    font-size: 14px;
    font-family: 'Poppins';
}
.card-box{
    text-align: left;
}
label{
    text-align: left;
}
.center{
    text-align:center;
}
.login-btn{
    background-color: #407bff;
    width:100%;
    color:#fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}